body 
{
background-image:url('/Images/mock_up.png');
background-repeat:no-repeat;
background-size:cover;
    height: 601px;
    font-weight: 700;
}

#maincontent
{
    align-content:center;
    margin-left:20%;
    margin-right:20%;
    margin-top:5%;
    height:300px;
}

#banner
{
    background-image:url('/Images/logo.png');
    background-repeat:no-repeat;
    background-size:initial;
    background-position:top,center;
    height: 183px;
    top: 15px;
    width: 1189px;
    left: 14px;
<<<<<<< HEAD
}

.purchasetb
{
    left:25%;
}

.purchasetb2{
    left:25%;
=======
    
>>>>>>> origin/master
}